In [163]:
import pandas as pd;
import numpy as np;

In [164]:
df = pd.read_excel("Data Assignment.xlsx")

In [165]:
df.head()

,Company Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country
0,iSTUDIO,www.istudio.com,(202) 758-2037,Snook,Dan,NaN,NaN,"Project Manager, Integrus",(202) 758-2037 ext. 903,(202) 620-2430,dsnook@istudioarchitects.com,NaN,https://www.linkedin.com/in/dan-snook-aia-45a3...,1605 Connecticut Ave NW Ste 200,"Washington, D.C.",District of Columbia,20009,United States
1,CyberPatriot,www.uscyberpatriot.org,(877) 885-5716,Zaborowski,Frank,NaN,NaN,"Director, Operations",(703) 247-5840,NaN,f.zaborowski@uscyberpatriot.org,NaN,https://www.linkedin.com/in/frank-zaborowski-5...,1501 Langston Blvd,Arlington,Virginia,22209,United States
2,Eagle Academy Public Charter School,www.eagleacademypcs.org,(202) 459-6825,Crooms,Vernal,L.,NaN,"Director, Food Service",NaN,(202) 469-9994,NaN,NaN,NaN,3400 Wheeler Rd SE,"Washington, D.C.",District of Columbia,20032,United States
3,Embassy of Sweden,www.swedenabroad.se/en/embassies/usa-washington,(202) 467-2600,Hoijer,Rolf,NaN,NaN,"Head of Office, Office of Science and Innovation",(202) 534-9584,NaN,NaN,NaN,NaN,2900 K St NW Ste 100,"Washington, D.C.",District of Columbia,20007,United States
4,DC Department of Human Services,dhs.dc.gov,(202) 671-4200,Miller,Jaleesa,NaN,NaN,Case Manager,(202) 727-3799,(202) 256-5209,jaleesa.miller@dc.gov,NaN,NaN,920 A-Rhode Island Ave NE,"Washington, D.C.",District of Columbia,20018,United States

In [166]:
df.shape

(1004, 18)

In [167]:
df.describe()

,Company Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country
count,1003,917,786,1003,1003,308,220,1003,521,735,752,495,661,946,1003,1003,1003,1003
unique,996,914,779,888,629,95,12,649,520,731,750,493,659,912,82,3,247,1
top,Kbf,www.tworiverspcs.org,(301) 762-0700,Smith,Robert,M.,Ms.,Executive Director,(495) 478-4298,(300) 260-7460,cgarlock@grassrootscannabis.com,mary.gornick@gmail.com,https://www.linkedin.com/in/reedmorrison,1849 C St NW,"Washington, D.C.",District of Columbia,20001,United States
freq,2,2,2,13,15,35,78,72,2,2,2,2,2,3,498,499,60,1003

In [168]:
df.isnull().sum()

Company Name                      1
Website                          87
Company HQ Phone                218
Last Name                         1
First Name                        1
Middle Name                     696
Salutation                      784
Job Title                         1
Direct Phone Number             483
Mobile phone                    269
Business Email                  252
Supplemental Email              509
LinkedIn Contact Profile URL    343
Person Street                    58
Person City                       1
Person State                      1
Person Zip Code                   1
Country                           1
dtype: int64

In [169]:
df.isna().all(axis=1).sum()

1

In [170]:
df.isna().all(axis=0).sum()

0

In [171]:
df.dropna(how="all", axis=0, inplace=True)

In [172]:
df.isna().all(axis=1).sum()

0

 # checking null values in percentage for better understanding of data

In [173]:
# ((df.isnull().sum()/df.shape[0])*100).round(2)

# Full Name(First Name + Middle Name + Last Name), Job Title, Number, Email, Organization Name, Address (Person Street + Person City + Person State	+ Person Zip Code + Country), Website, LinkedIn

In [174]:
df['Full Name']= df['First Name'] + " " + df['Middle Name'].fillna("") + " " + df['Last Name']

In [175]:
df['Full Name']= df["Full Name"].str.replace('  ',' ')

In [176]:
df['Full Name']

0               Dan Snook
1        Frank Zaborowski
2        Vernal L. Crooms
3             Rolf Hoijer
4          Jaleesa Miller
              ...
999          James Howell
1000        Robert Albert
1001    Patrick McCaffrey
1002       William Archer
1003       Raleigh Griggs
Name: Full Name, Length: 1003, dtype: object

In [177]:
df.columns

Index(['Company Name', 'Website', 'Company HQ Phone', 'Last Name',
       'First Name', 'Middle Name', 'Salutation', 'Job Title',
       'Direct Phone Number', 'Mobile phone', 'Business Email',
       'Supplemental Email', 'LinkedIn Contact Profile URL', 'Person Street',
       'Person City', 'Person State', 'Person Zip Code', 'Country',
       'Full Name'],
      dtype='object')

In [178]:
# New_df = df[df['Full Name'], df['job Title'], df['LinkedIn Contact Profile URL'], df['Website'],]

In [179]:
df['Person Street'].isnull().sum()

57

In [180]:
# df['Person Street'].fillna() + "," + df['Person City'] + "," + str(df['Person Zip Code']) + df['Country']

ValueError: Must specify a fill 'value' or 'method'.

In [ ]:
df['Person Zip Code'] = df['Person Zip Code'].astype(str).map(lambda x: x.split('-')[0] if '-' in x else x )

In [ ]:
df['Person Zip Code'].map(lambda x :'-' in x).sum()

company hq phone

In [192]:
df['Company HQ Phone'].astype(str).apply(lambda x: '+' in x).sum()

31

In [194]:
df['Company HQ Phone'].isnull().sum()

217

 Direct phone number

In [195]:
df['Direct Phone Number'].astype(str).apply(lambda x: '+' in x).sum()

4

In [197]:
df['Direct Phone Number'].isnull().sum()

482

Mobile Phone

In [199]:
df['Mobile phone'].isnull().sum()

268

In [200]:
df['Mobile phone'].astype(str).apply(lambda x: '+' in x).sum()

24

In [201]:
phone_df = df[['Company HQ Phone', 'Direct Phone Number', 'Mobile phone']]

In [206]:
phone_df.sample(10)

    Company HQ Phone      Direct Phone Number    Mobile phone
392   (866) 439-2837                      NaN  (204) 440-0464
235              NaN           (202) 447-2340             NaN
86    (203) 795-6075  (309) 740-7807 ext. 938  (240) 429-9350
472              NaN                      NaN  (605) 756-2209
486   (800) 336-8949                      NaN  (443) 522-2720
438   (888) 232-7733           (703) 244-9429             NaN
177   (978) 323-4141                      NaN  (443) 922-0260
834              NaN                      NaN  (202) 694-5423
316   (571) 748-3400                      NaN  (703) 632-0096
506   (202) 362-0700           (202) 355-9547  (305) 720-9703

In [210]:
phone_df.fillna(method='bfill', inplace=True)

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_50903/1446064020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone_df.fillna(method='bfill', inplace=True)

In [211]:
phone_df.isna().sum()

Company HQ Phone       0
Direct Phone Number    2
Mobile phone           0
dtype: int64

In [212]:
phone_df['Direct Phone Number'].astype(str).apply(lambda x: '+' in x).sum()

6

In [215]:
phone_df['Direct Phone Number'].isna().sum()

2

In [213]:
phone_df['Mobile phone'].astype(str).apply(lambda x: '+' in x).sum()

33

In [216]:
phone_df['Mobile phone'].isna().sum()

0

In [214]:
phone_df['Company HQ Phone'].astype(str).apply(lambda x: '+' in x).sum()

43

In [217]:
phone_df['Company HQ Phone'].isna().sum()

0

In [218]:
phone_df.fillna(method='ffill', inplace=True)

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_50903/4074140620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  phone_df.fillna(method='ffill', inplace=True)

In [219]:
phone_df['Direct Phone Number'].astype(str).apply(lambda x: '+' in x).sum()

6

In [233]:
phone_df.sample(10)

    Company HQ Phone        Direct Phone Number    Mobile phone
402   (502) 875-3771             (240) 752-4847  (502) 640-2096
115   (202) 585-0232             (240) 488-3958  (667) 254-2696
947   (240) 515-8355             (703) 472-8478  (570) 332-0022
499   (202) 884-8000  (202) 884-8974 ext. 98974  (204) 250-7602
200   (775) 834-8300             (702) 385-4500  (702) 757-5720
613   (510) 444-9800   (309) 849-0940 ext. 8498  (202) 270-2467
974   (202) 806-7725             (202) 845-0289  (400) 303-6965
304   (703) 723-3466             (202) 429-4350  (703) 200-0466
376   (202) 347-8772             (202) 545-9353  (202) 270-0947
373   (202) 695-2982    (540) 349-2092 ext. 992  (207) 975-3040

In [224]:
phone_df

     Company HQ Phone      Direct Phone Number    Mobile phone
0      (202) 758-2037  (202) 758-2037 ext. 903  (202) 620-2430
1      (877) 885-5716           (703) 247-5840  (202) 469-9994
2      (202) 459-6825           (202) 534-9584  (202) 469-9994
3      (202) 467-2600           (202) 534-9584  (202) 256-5209
4      (202) 671-4200           (202) 727-3799  (202) 256-5209
...               ...                      ...             ...
999     +970 22741241           (202) 288-5224  (504) 620-0209
1000   (703) 791-7314           (703) 530-4992  (400) 602-7532
1001   (865) 576-3161           (490) 304-9205  (400) 602-7532
1002   (301) 762-0700           (490) 304-9205  (262) 220-6532
1003   (703) 777-9474           (490) 304-9205  (703) 595-3390

[1003 rows x 3 columns]

In [235]:
phone_df.loc[:,'Direct Phone Number'] = phone_df['Direct Phone Number'].astype(str).apply(lambda x: x.split('ext')[0] if 'ext' in x else x)

In [269]:
phone_df['Direct Phone Number'].sample(10)

628     (540) 759-2400
175     (202( 404-4925
593     (202) 753-7043
655     (703) 842-2290
108     (202) 785-7735
712    +89 3-3509-8999
515    (309) 348-9323
659     (202) 307-7044
730     (703) 235-4489
985    (309) 899-3500
Name: Direct Phone Number, dtype: object

In [264]:
phone_df.replace('null', np.nan)

     Company HQ Phone Direct Phone Number    Mobile phone
0      (202) 758-2037     (202) 758-2037   (202) 620-2430
1      (877) 885-5716      (703) 247-5840  (202) 469-9994
2      (202) 459-6825      (202) 534-9584  (202) 469-9994
3      (202) 467-2600      (202) 534-9584  (202) 256-5209
4      (202) 671-4200      (202) 727-3799  (202) 256-5209
...               ...                 ...             ...
999     +970 22741241      (202) 288-5224  (504) 620-0209
1000   (703) 791-7314      (703) 530-4992  (400) 602-7532
1001   (865) 576-3161      (490) 304-9205  (400) 602-7532
1002   (301) 762-0700      (490) 304-9205  (262) 220-6532
1003   (703) 777-9474      (490) 304-9205  (703) 595-3390

[1003 rows x 3 columns]

In [270]:
phone_df.iloc[712]

Company HQ Phone         +81 363731111
Direct Phone Number    +89 3-3509-8999
Mobile phone            (703) 303-0509
Name: 713, dtype: object

In [274]:
phone_df['Company HQ Phone'].astype(str).apply(lambda x: '+' in x).sum()

43

In [283]:
phone_df.loc[:,'Company HQ Phone'] = phone_df['Company HQ Phone'].astype(str).apply(lambda x: np.nan if '+' in x else x)

In [284]:
phone_df['Company HQ Phone'].astype(str).apply(lambda x: '+' in x).sum()

0

In [285]:
phone_df['Mobile phone'].astype(str).apply(lambda x: '+' in x).sum()

33

In [288]:
phone_df.loc[:,'Mobile phone'] = phone_df['Mobile phone'].astype(str).apply(lambda x: np.nan if '+' in x else x)

In [294]:
phone_df['Mobile phone'].astype(str).apply(lambda x: '+' in x).sum()

0

In [295]:
phone_df.loc[:,'Direct Phone Number'] = phone_df['Direct Phone Number'].astype(str).apply(lambda x: np.nan if '+' in x else x)

In [296]:
phone_df['Direct Phone Number'].astype(str).apply(lambda x: '+' in x).sum()

0

In [297]:
phone_df.isna().sum()

Company HQ Phone        0
Direct Phone Number     6
Mobile phone           33
dtype: int64