In [760]:
import pandas as pd;
import numpy as np;

In [761]:
df = pd.read_excel("Data Assignment.xlsx")

#  viewing the data throughly

In [762]:
df.head()

,Company Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country
0,iSTUDIO,www.istudio.com,(202) 758-2037,Snook,Dan,NaN,NaN,"Project Manager, Integrus",(202) 758-2037 ext. 903,(202) 620-2430,dsnook@istudioarchitects.com,NaN,https://www.linkedin.com/in/dan-snook-aia-45a3...,1605 Connecticut Ave NW Ste 200,"Washington, D.C.",District of Columbia,20009,United States
1,CyberPatriot,www.uscyberpatriot.org,(877) 885-5716,Zaborowski,Frank,NaN,NaN,"Director, Operations",(703) 247-5840,NaN,f.zaborowski@uscyberpatriot.org,NaN,https://www.linkedin.com/in/frank-zaborowski-5...,1501 Langston Blvd,Arlington,Virginia,22209,United States
2,Eagle Academy Public Charter School,www.eagleacademypcs.org,(202) 459-6825,Crooms,Vernal,L.,NaN,"Director, Food Service",NaN,(202) 469-9994,NaN,NaN,NaN,3400 Wheeler Rd SE,"Washington, D.C.",District of Columbia,20032,United States
3,Embassy of Sweden,www.swedenabroad.se/en/embassies/usa-washington,(202) 467-2600,Hoijer,Rolf,NaN,NaN,"Head of Office, Office of Science and Innovation",(202) 534-9584,NaN,NaN,NaN,NaN,2900 K St NW Ste 100,"Washington, D.C.",District of Columbia,20007,United States
4,DC Department of Human Services,dhs.dc.gov,(202) 671-4200,Miller,Jaleesa,NaN,NaN,Case Manager,(202) 727-3799,(202) 256-5209,jaleesa.miller@dc.gov,NaN,NaN,920 A-Rhode Island Ave NE,"Washington, D.C.",District of Columbia,20018,United States

In [763]:
#  sampling the data to check it thoroughly
# df.sample(10)
# df["Business Email"].sample(10)
df['Company HQ Phone'].sample(10)

237    (610) 373-7999
389    (703) 444-3181
907    (979) 845-3211
926               NaN
580    (262) 782-4722
538    (703) 241-0386
575               NaN
723    (301) 934-8421
458               NaN
367    (202) 333-4005
Name: Company HQ Phone, dtype: object

In [764]:
df.iloc[739]

Company Name                       Rwanda Ministry Of Foreign Affairs
Website                                           www.minaffet.gov.rw
Company HQ Phone                                       +250 788125043
Last Name                                                     Solomon
First Name                                                      Setti
Middle Name                                                       NaN
Salutation                                                        NaN
Job Title                       Corporate Director, Sales & Marketing
Direct Phone Number                                    (202) 450-9492
Mobile phone                                                      NaN
Business Email                                 ssetti@minaffet.gov.rw
Supplemental Email                                                NaN
LinkedIn Contact Profile URL                                      NaN
Person Street                               1714 New Hampshire Ave NW
Person City                                          Washington, D.C.
Person State                                     District of Columbia
Person Zip Code                                                 20009
Country                                                 United States
Name: 739, dtype: object

In [765]:
df['Company HQ Phone'].apply(lambda x: '+' in  str(x)).sum()

31

In [766]:
df[df['Business Email'].duplicated(keep=False)].sample(10)

,Company Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country
630,Woodgrove High School,www.woodgroveathletics.org,(540) 751-2610,Fiore,Geri,Muenkel,NaN,Director of Counseling...,(540) 759-2400,NaN,NaN,NaN,NaN,36811 Allder School Rd,Purcellville,Virginia,20132,United States
950,Emma Coalition,www.emmacoalition.com,NaN,Meade,Shannon,L.,NaN,Executive Director,NaN,(202) 774-0424,NaN,NaN,NaN,815 Connecticut Ave NW Ste 400,"Washington, D.C.",District of Columbia,20006,United States
1003,Kbf,www.kbfbyaudi.com,(703) 777-9474,Griggs,Raleigh,NaN,NaN,Project Manager,NaN,(703) 595-3390,NaN,NaN,NaN,44710 Cape Ct Ste 138,Ashburn,Virginia,20175,United States
173,Avyanna Technologies,avy.tech,NaN,Atkinson,P.,Shaniqua,NaN,"Project Manager, Cyber",NaN,(902) 644-9500,NaN,NaN,NaN,11810 Grand Park Ave Ste 500,North Bethesda,Maryland,20852,United States
282,US District Court District of Columbia,dcd.uscourts.gov,(202) 354-3050,Barrett,Daniel,NaN,NaN,"Assistant Director, Information Technology",(202) 354-3297,NaN,NaN,wormsofthee4rth@yahoo.com,https://www.linkedin.com/in/daniel-barrett-124...,333 Constitution Ave NW Rm 6503,"Washington, D.C.",District of Columbia,20001,United States
295,Dr K's,NaN,NaN,Frazier,Keisha,NaN,NaN,Executive Director,NaN,(605) 570-0647,NaN,NaN,https://www.linkedin.com/in/keishafrazierphd14,2908 N Lexington St,Arlington,Virginia,22207,United States
259,PrairieGold Solar,www.prairiegoldsolar.com,(605) 275-2999,Nelson,Luke,M.,NaN,Business Development Manager,NaN,(302) 590-7004,NaN,NaN,https://www.linkedin.com/in/luke-nelson-1853b32b,718 7th St NW,"Washington, D.C.",District of Columbia,20001,United States
581,Federal Housing Finance Agency,www.fhfa.gov,(202) 445-2141,Spohn,Jeffrey,NaN,Mr.,"Deputy Director, Conservatorship Operations",NaN,(630) 242-2404,NaN,crazyspohn@yahoo.com,https://www.linkedin.com/in/jeffrey-spohn-2461...,"1777 F St NW,Ste 100","Washington, D.C.",District of Columbia,20006-5212,United States
885,Washington DC Fire Department,www.dcfd.com,(202) 673-3205,McAllister,Brian,A.,Captain,Captain,NaN,(240) 793-5090,NaN,bmcallister@verizon.net,https://www.linkedin.com/in/brian-mcallister-7...,3412 Dent Pl NW,"Washington, D.C.",District of Columbia,20007,United States
853,"ASU Leadership, Diplomacy and National Securit...",ldns.asu.edu,NaN,Wright,Ashley,NaN,NaN,Program Manager,NaN,(900) 330-9232,NaN,aoiwright@hotmail.com,https://www.linkedin.com/in/ashley-wright-77a8...,1800 I St NW,"Washington, D.C.",District of Columbia,20006,United States

In [767]:
df.columns

Index(['Company Name', 'Website', 'Company HQ Phone', 'Last Name',
       'First Name', 'Middle Name', 'Salutation', 'Job Title',
       'Direct Phone Number', 'Mobile phone', 'Business Email',
       'Supplemental Email', 'LinkedIn Contact Profile URL', 'Person Street',
       'Person City', 'Person State', 'Person Zip Code', 'Country'],
      dtype='object')

In [768]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Company Name                  1003 non-null   object
 1   Website                       917 non-null    object
 2   Company HQ Phone              786 non-null    object
 3   Last Name                     1003 non-null   object
 4   First Name                    1003 non-null   object
 5   Middle Name                   308 non-null    object
 6   Salutation                    220 non-null    object
 7   Job Title                     1003 non-null   object
 8   Direct Phone Number           521 non-null    object
 9   Mobile phone                  735 non-null    object
 10  Business Email                752 non-null    object
 11  Supplemental Email            495 non-null    object
 12  LinkedIn Contact Profile URL  661 non-null    object
 13  Person Street                 946 non-null    object
 14  Person City                   1003 non-null   object
 15  Person State                  1003 non-null   object
 16  Person Zip Code               1003 non-null   object
 17  Country                       1003 non-null   object
dtypes: object(18)
memory usage: 141.3+ KB

In [769]:
df.describe()

,Company Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country
count,1003,917,786,1003,1003,308,220,1003,521,735,752,495,661,946,1003,1003,1003,1003
unique,996,914,779,888,629,95,12,649,520,731,750,493,659,912,82,3,247,1
top,Kbf,www.tworiverspcs.org,(301) 762-0700,Smith,Robert,M.,Ms.,Executive Director,(495) 478-4298,(300) 260-7460,cgarlock@grassrootscannabis.com,mary.gornick@gmail.com,https://www.linkedin.com/in/reedmorrison,1849 C St NW,"Washington, D.C.",District of Columbia,20001,United States
freq,2,2,2,13,15,35,78,72,2,2,2,2,2,3,498,499,60,1003

In [770]:
# checking null values
df.isna().sum()

Company Name                      1
Website                          87
Company HQ Phone                218
Last Name                         1
First Name                        1
Middle Name                     696
Salutation                      784
Job Title                         1
Direct Phone Number             483
Mobile phone                    269
Business Email                  252
Supplemental Email              509
LinkedIn Contact Profile URL    343
Person Street                    58
Person City                       1
Person State                      1
Person Zip Code                   1
Country                           1
dtype: int64

In [771]:
# checking which row has null value in each column
df[df.isna().all(axis=1)]

,Company Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [772]:
 # droping row which has null vlue in all columns
df.dropna(how='all', axis=0, inplace=True)

In [773]:
# checking null values
df.isna().sum()

Company Name                      0
Website                          86
Company HQ Phone                217
Last Name                         0
First Name                        0
Middle Name                     695
Salutation                      783
Job Title                         0
Direct Phone Number             482
Mobile phone                    268
Business Email                  251
Supplemental Email              508
LinkedIn Contact Profile URL    342
Person Street                    57
Person City                       0
Person State                      0
Person Zip Code                   0
Country                           0
dtype: int64

#### company name column error handeling

In [774]:
# renanme company Name as Organisation Name
df.rename(columns = {'Company Name': "Organisation Name"}, inplace=True)

#### names column error handeling

In [775]:
# Creating Full Name column
df['Full Name']= df['First Name'] + " " + df['Middle Name'].fillna("") + " " + df['Last Name']

In [776]:
# sampleing website  column to check what type of error 
# df['Website'].sample(10)

# only nan value Error is there

In [777]:
# handeliing website column Error
df['Website'].fillna('not filled', inplace=True)

In [778]:
df['Website'].isna().sum()

0

In [779]:
# cheking duplicacy
# df['Website'].duplicated().value_counts()
df[df['Website'].duplicated()]['Website'].sample(10)

39     not filled
186    not filled
495    not filled
462    not filled
801    not filled
183    not filled
956    not filled
307    not filled
321    not filled
62     not filled
Name: Website, dtype: object

In [780]:
# df[df['Website']== 'www.kbfbyaudi.com']
# df[df['Website']== 'www.tworiverspcs.org']
df[df['Website']== 'www.potomacvalleyhc.com']

,Organisation Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country,Full Name
40,Potomac Valley,www.potomacvalleyhc.com,(301) 762-0700,Archer,William,NaN,NaN,Lead Pastor and Executive Director,NaN,(262) 220-6532,archer@kennedykrieger.org,erasmusarcher@gmail.com,https://www.linkedin.com/in/william-will-arche...,1006 Williamstown Dr,Dumfries,Virginia,22026,United States,William Archer
1002,Potomac Valley,www.potomacvalleyhc.com,(301) 762-0700,Archer,William,NaN,NaN,Lead Pastor and Executive Director,NaN,(262) 220-6532,archer@kennedykrieger.org,erasmusarcher@gmail.com,https://www.linkedin.com/in/william-will-arche...,1006 Williamstown Dr,Dumfries,Virginia,22026,United States,William Archer

In [781]:
df[df['Website']== 'www.tworiverspcs.org']

,Organisation Name,Website,Company HQ Phone,Last Name,First Name,Middle Name,Salutation,Job Title,Direct Phone Number,Mobile phone,Business Email,Supplemental Email,LinkedIn Contact Profile URL,Person Street,Person City,Person State,Person Zip Code,Country,Full Name
73,Two Rivers Public Charter School,www.tworiverspcs.org,NaN,Gornick,Mary,NaN,NaN,"Senior Director, Human Resources",(202) 890-5597,NaN,mgornick@tworiverspcs.org,mary.gornick@gmail.com,https://www.linkedin.com/in/reedmorrison,1227 4th St NE,"Washington, D.C.",District of Columbia,20002,United States,Mary Gornick
74,Two Rivers Public Charter School,www.tworiverspcs.org,NaN,maters,haszli,NaN,NaN,"Senior Director, Human Resources",(340) 949-9494,NaN,haszli-maters@apachehub.com,mary.gornick@gmail.com,https://www.linkedin.com/in/reedmorrison,1227 4th St NE,"Washington, D.C.",District of Columbia,20002,United States,haszli maters

#### handeling error in Number columns

##### 'Company HQ Phone' column

In [782]:
# sampling the data 
df['Company HQ Phone'].sample(10)

815    (202) 727-3600
990    (301) 740-3390
381    (202) 687-5330
762               NaN
927               NaN
662    (240) 426-1424
353    (540) 687-5555
750    (703) 960-3000
455    (301) 901-9112
274               NaN
Name: Company HQ Phone, dtype: object

In [783]:
# checking null row count
df['Company HQ Phone'].isnull().sum()

217

In [784]:
#  replacing nan values with empty string('')
df['Company HQ Phone'].fillna('', inplace=True)

In [785]:
# checking how many values are not in US Number base format
df['Company HQ Phone'].astype(str).apply(lambda x: '+' in x).sum()

31

In [786]:
# replacing the dirty data with '' as it seems like differnt countries phone number
df.loc[:,'Company HQ Phone'] = df['Company HQ Phone'].astype(str).apply(lambda x: '' if '+' in x else x)

##### 'Direct Phone Number'

In [787]:
# sampeliing
df['Direct Phone Number'].sample(10)

789    (309) 475-4200 ext. 9924
769              (202) 489-4848
274                         NaN
697                         NaN
983                         NaN
654              (309) 599-4992
27                          NaN
208              (202) 795-7402
850              (202) 447-8932
488                         NaN
Name: Direct Phone Number, dtype: object

In [788]:
df['Direct Phone Number'].fillna('', inplace=True)

In [789]:
df.loc[:,'Direct Phone Number'] = df['Direct Phone Number'].astype(str).apply(lambda x: '' if '+' in x else x)

In [790]:
df['Direct Phone Number'].astype(str).apply(lambda x: '+' in x).sum()

0

In [791]:
df.loc[:,'Direct Phone Number'] = df['Direct Phone Number'].astype(str).apply(lambda x: x.split('ext')[0] if 'ext' in x else x)

In [792]:
df['Direct Phone Number'].astype(str).apply(lambda x: 'ext' in x).sum()

0

In [793]:
df['Direct Phone Number'].sample(10)

202
318    (309) 542-9920
370     (309) 847-3089
431
121    (309) 942-8003
652     (202) 974-4202
726
116     (292) 534-5449
940
501
Name: Direct Phone Number, dtype: object

##### 'Mobile phone' column

In [794]:
df['Mobile phone'].sample(10)

902               NaN
439    (703) 999-0529
567    (300) 975-7760
818    (240) 225-5333
160    (570) 639-0245
19     (259) 225-2232
272    (240) 420-0349
913    (259) 609-0267
912    (706) 523-0264
601               NaN
Name: Mobile phone, dtype: object

In [795]:
df.loc[:,'Mobile phone'] = df['Mobile phone'].astype(str).apply(lambda x: '' if '+' in x else x)

In [796]:
df['Mobile phone'].replace('nan',np.nan, inplace=True)

In [797]:
df['Mobile phone'].isnull().sum()

268

In [798]:
df['Mobile phone'].fillna('', inplace=True)

In [799]:
df['Mobile phone'].isna().sum()

0

In [800]:
df['Mobile phone'].replace('null',np.nan, inplace=True)
df['Mobile phone'].fillna('', inplace=True)

In [801]:
df['Mobile phone'].sample(10)

117    (202) 655-9059
626
537
301    (300) 704-2393
913    (259) 609-0267
590    (973) 647-4064
17     (703) 622-0373
708    (240) 222-5203
811
649    (400) 402-2703
Name: Mobile phone, dtype: object

In [802]:
# Emails

In [803]:
df['Business Email'].duplicated().value_counts()

Business Email
False    751
True     252
Name: count, dtype: int64

In [804]:
df['Business Email'].isna().sum()

251

In [805]:
df['Business Email'].fillna('', inplace=True)

In [806]:
df['Business Email'].sample(10)

907              jay.silveria@tamu.edu
262                    wmills@rekor.ai
107                     rhart@cgcs.org
544      jason.jarreau@oxfordhouse.org
518    catherine.guimaraes@mursion.com
365                    mmartz@uafa.org
953             diana.vasquez@hacu.net
39
187             megan@simplyeloped.com
958              giguerep@stpatsdc.org
Name: Business Email, dtype: object

In [807]:
df['Supplemental Email'].isna().sum()

508

In [808]:
df['Supplemental Email'].fillna('', inplace=True)

In [809]:
df['Supplemental Email'].isna().sum()

0

In [810]:
# Creating All nummbers and Emails columns
df['All Number and Email'] = df['Company HQ Phone'] + " " + df['Direct Phone Number'] + " " + df['Mobile phone'] + " " + df['Business Email'] + " " + df['Supplemental Email']

In [811]:
df['All Number and Email'].replace('  ', '')

0       (202) 758-2037 (202) 758-2037  (202) 620-2430 ...
1       (877) 885-5716 (703) 247-5840  f.zaborowski@us...
2                        (202) 459-6825  (202) 469-9994
3                        (202) 467-2600 (202) 534-9584
4       (202) 671-4200 (202) 727-3799 (202) 256-5209 j...
                              ...
999      (202) 288-5224 (504) 620-0209  jhowell28@gmai...
1000    (703) 791-7314 (703) 530-4992  albertrm@pwcs.edu
1001    (865) 576-3161 (490) 304-9205 (400) 602-7532 p...
1002    (301) 762-0700  (262) 220-6532 archer@kennedyk...
1003                     (703) 777-9474  (703) 595-3390
Name: All Number and Email, Length: 1003, dtype: object

In [812]:
df['All Number and Email']

0       (202) 758-2037 (202) 758-2037  (202) 620-2430 ...
1       (877) 885-5716 (703) 247-5840  f.zaborowski@us...
2                        (202) 459-6825  (202) 469-9994
3                        (202) 467-2600 (202) 534-9584
4       (202) 671-4200 (202) 727-3799 (202) 256-5209 j...
                              ...
999      (202) 288-5224 (504) 620-0209  jhowell28@gmai...
1000    (703) 791-7314 (703) 530-4992  albertrm@pwcs.edu
1001    (865) 576-3161 (490) 304-9205 (400) 602-7532 p...
1002    (301) 762-0700  (262) 220-6532 archer@kennedyk...
1003                     (703) 777-9474  (703) 595-3390
Name: All Number and Email, Length: 1003, dtype: object

#### Address columns

##### Person Street Column

In [813]:
df['Person Street'].isna().sum()

57

In [814]:
df['Person Street'].fillna('', inplace=True)

In [815]:
df['Person Street'].sample(10)

813                    3482 Mildred Dr
337              1909 K St NW Ste C140
673                       1901 E St SE
380                      224 2nd St SE
307
153                  1420 King St Fl 1
473                     520 13th St SE
59     701 Pennsylvania Ave NW Ste 123
191                       2136 G St NW
747                        702 H St NW
Name: Person Street, dtype: object

In [816]:
##### Person City column

In [817]:
df['Person City'].isna().sum()

0

In [818]:
##### Person Zip Code

In [819]:
df['Person Zip Code'].sample(10)

550    20850
201    22314
943    20009
822    20006
224    20910
963    20742
914    20814
206    20444
124    22180
299    20705
Name: Person Zip Code, dtype: object

In [820]:
df['Person Zip Code'] = df['Person Zip Code'].astype(str).map(lambda x: x.split('-')[0] if '-' in x else x )

In [821]:
df['Person Zip Code'].map(lambda x :'-' in x).sum()

0

In [822]:
df['Person Zip Code'].isna().sum()

0

In [823]:
# Creating an Address Column 
df['Address'] = df['Person Street'] + " " + df['Person City'] + df['Person Zip Code']

In [824]:
df['Address'].replace("  ", ' ')

0       1605 Connecticut Ave NW Ste 200 Washington, D....
1                       1501 Langston Blvd Arlington22209
2                3400 Wheeler Rd SE Washington, D.C.20032
3              2900 K St NW Ste 100 Washington, D.C.20007
4         920 A-Rhode Island Ave NE Washington, D.C.20018
                              ...
999                                 Washington, D.C.20017
1000                        14800 Joplin Rd Manassas20112
1001    1140 Connecticut Ave NW Ste 350 Washington, D....
1002                   1006 Williamstown Dr Dumfries22026
1003                   44710 Cape Ct Ste 138 Ashburn20175
Name: Address, Length: 1003, dtype: object

#### Job Title

In [825]:
df["Job Title"].sample(10)

102                          Director, Civil Engineering
978                                    Territory Manager
152                                    Assistant Manager
211                                 Director, Operations
894    Manager, Information Technology Business Integ...
974                                       Head of School
494                                   Executive Director
888                                   Associate Director
247                                    Manager, Business
292                                             Director
Name: Job Title, dtype: object

In [826]:
df['Job Title'] = df['Job Title'].astype(str).apply(lambda x: x.split(',')[0])

In [827]:
df['Job Title'].isna().sum()

0

In [828]:
df.rename(columns={'LinkedIn Contact Profile URL':"LinkedIn"}, inplace=True)

In [829]:
df['LinkedIn'].isna().sum()

342

In [830]:
df['LinkedIn'].fillna('not filled', inplace=True)

In [831]:
df['LinkedIn']

0       https://www.linkedin.com/in/dan-snook-aia-45a3...
1       https://www.linkedin.com/in/frank-zaborowski-5...
2                                              not filled
3                                              not filled
4                                              not filled
                              ...
999     https://www.linkedin.com/in/james-howell-fundr...
1000                                           not filled
1001    https://www.linkedin.com/in/patrick-mccaffrey-...
1002    https://www.linkedin.com/in/william-will-arche...
1003                                           not filled
Name: LinkedIn, Length: 1003, dtype: object

<!-- Making New DataFrame with Required columns  or we can also drop those columns which we dont need -->

In [832]:
new_df = df[['Full Name', 'Job Title', 'All Number and Email', 'Organisation Name', 'Address', 'Website', 'LinkedIn']]

In [833]:
#### checking duplicate values

In [834]:
new_df.nunique()

Full Name               1001
Job Title                305
All Number and Email     999
Organisation Name        996
Address                  946
Website                  915
LinkedIn                 660
dtype: int64

In [853]:
new_df[new_df['Website'].duplicated()]['Website'].sample(10)

848              not filled
74     www.tworiverspcs.org
926              not filled
512              not filled
548              not filled
415              not filled
823              not filled
280              not filled
307              not filled
800              not filled
Name: Website, dtype: object

In [840]:
# new_df.drop_duplicates(keep='first', inplace=True)

In [837]:
# new_df[new_df['Website'].duplicated()]['Website'].sample(10)

In [845]:
new_df[new_df['Website']=='www.kbfbyaudi.com']

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
9,Raleigh Griggs,Project Manager,(703) 777-9474 (703) 595-3390,Kbf,44710 Cape Ct Ste 138 Ashburn20175,www.kbfbyaudi.com,not filled
1003,Raleigh Griggs,Project Manager,(703) 777-9474 (703) 595-3390,Kbf,44710 Cape Ct Ste 138 Ashburn20175,www.kbfbyaudi.com,not filled

In [848]:
new_df[new_df['Website']=='www.potomacvalleyhc.com']

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
40,William Archer,Lead Pastor and Executive Director,(301) 762-0700 (262) 220-6532 archer@kennedyk...,Potomac Valley,1006 Williamstown Dr Dumfries22026,www.potomacvalleyhc.com,https://www.linkedin.com/in/william-will-arche...
1002,William Archer,Lead Pastor and Executive Director,(301) 762-0700 (262) 220-6532 archer@kennedyk...,Potomac Valley,1006 Williamstown Dr Dumfries22026,www.potomacvalleyhc.com,https://www.linkedin.com/in/william-will-arche...

In [855]:
new_df[new_df['Website']=='www.tworiverspcs.org']

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
73,Mary Gornick,Senior Director,(202) 890-5597 mgornick@tworiverspcs.org mar...,Two Rivers Public Charter School,"1227 4th St NE Washington, D.C.20002",www.tworiverspcs.org,https://www.linkedin.com/in/reedmorrison
74,haszli maters,Senior Director,(340) 949-9494 haszli-maters@apachehub.com m...,Two Rivers Public Charter School,"1227 4th St NE Washington, D.C.20002",www.tworiverspcs.org,https://www.linkedin.com/in/reedmorrison

In [856]:
new_df.drop_duplicates(keep='first', inplace=True)

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_56176/3198514045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop_duplicates(keep='first', inplace=True)

In [857]:
new_df = new_df.copy()  # Create a copy of the slice first
new_df.drop_duplicates(keep='first', inplace=True)

In [864]:
new_df[new_df['Website']=='www.tworiverspcs.org']

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
73,Mary Gornick,Senior Director,(202) 890-5597 mgornick@tworiverspcs.org mar...,Two Rivers Public Charter School,"1227 4th St NE Washington, D.C.20002",www.tworiverspcs.org,https://www.linkedin.com/in/reedmorrison

In [863]:
new_df = new_df[~((new_df['Website'] == 'www.tworiverspcs.org') & new_df.duplicated(subset='Website', keep='first'))]

In [865]:
new_df = new_df[~((new_df['Website'] == 'www.potomacvalleyhc.com') & new_df.duplicated(subset='Website', keep='first'))]

In [866]:
new_df[new_df['Website']=='www.potomacvalleyhc.com']

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
40,William Archer,Lead Pastor and Executive Director,(301) 762-0700 (262) 220-6532 archer@kennedyk...,Potomac Valley,1006 Williamstown Dr Dumfries22026,www.potomacvalleyhc.com,https://www.linkedin.com/in/william-will-arche...

In [867]:
new_df = new_df[~((new_df['Website'] == 'www.kbfbyaudi.com') & new_df.duplicated(subset='Website', keep='first'))]

In [868]:
new_df[new_df['Website']=='www.kbfbyaudi.com']

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
9,Raleigh Griggs,Project Manager,(703) 777-9474 (703) 595-3390,Kbf,44710 Cape Ct Ste 138 Ashburn20175,www.kbfbyaudi.com,not filled

In [894]:
new_df[new_df['Website'].duplicated()]['Website'].sample(10)

982    not filled
840    not filled
90     not filled
898    not filled
462    not filled
87     not filled
320    not filled
65     not filled
41     not filled
904    not filled
Name: Website, dtype: object

In [901]:
#  converting dataframe into excel file

new_df.to_excel('Cleaned_data.xlsx', index=False)

In [902]:
cd_df = pd.read_excel('Cleaned_data.xlsx')

In [903]:
cd_df

,Full Name,Job Title,All Number and Email,Organisation Name,Address,Website,LinkedIn
0,Dan Snook,Project Manager,(202) 758-2037 (202) 758-2037 (202) 620-2430 ...,iSTUDIO,"1605 Connecticut Ave NW Ste 200 Washington, D....",www.istudio.com,https://www.linkedin.com/in/dan-snook-aia-45a3...
1,Frank Zaborowski,Director,(877) 885-5716 (703) 247-5840 f.zaborowski@us...,CyberPatriot,1501 Langston Blvd Arlington22209,www.uscyberpatriot.org,https://www.linkedin.com/in/frank-zaborowski-5...
2,Vernal L. Crooms,Director,(202) 459-6825 (202) 469-9994,Eagle Academy Public Charter School,"3400 Wheeler Rd SE Washington, D.C.20032",www.eagleacademypcs.org,not filled
3,Rolf Hoijer,Head of Office,(202) 467-2600 (202) 534-9584,Embassy of Sweden,"2900 K St NW Ste 100 Washington, D.C.20007",www.swedenabroad.se/en/embassies/usa-washington,not filled
4,Jaleesa Miller,Case Manager,(202) 671-4200 (202) 727-3799 (202) 256-5209 j...,DC Department of Human Services,"920 A-Rhode Island Ave NE Washington, D.C.20018",dhs.dc.gov,not filled
...,...,...,...,...,...,...,...
995,Paul F. Hicks,Band Director,(540) 422-7470 (540) 422-7450,Marshall Middle School,4048 Zulla Rd The Plains20198,not filled,https://www.linkedin.com/in/paul-hicks-779a024b
996,Jose Campi-portaluppi,Director,,Equimundo (Formerly Promundo-US,"1367 Connecticut Ave NW Ste 210 Washington, D....",www.equimundo.org,not filled
997,James Howell,Executive Director,(202) 288-5224 (504) 620-0209 jhowell28@gmai...,Bethlehem University Foundation,"Washington, D.C.20017",www.bethlehem.edu,https://www.linkedin.com/in/james-howell-fundr...
998,Robert Albert,Food Service Manager I,(703) 791-7314 (703) 530-4992 albertrm@pwcs.edu,Prince William County Public Schools,14800 Joplin Rd Manassas20112,www.pwcsnutrition.com,not filled
999,Patrick McCaffrey,Section Manager,(865) 576-3161 (490) 304-9205 (400) 602-7532 p...,Oak Ridge Associated Universities,"1140 Connecticut Ave NW Ste 350 Washington, D....",www.orau.org,https://www.linkedin.com/in/patrick-mccaffrey-...